<div>
    <h2>
        <span>Politico Atributos</span>
        <button class="btn btn-primary float-right jh-create-entity create-politico-atributo-sp" [routerLink]="['/', { outlets: { popup: ['politico-atributo-sp-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Politico Atributo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="politicoAtributos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Valor</span></th>
            <th><span>Politico</span></th>
            <th><span>Tipo Atributo</span></th>
            <th><span>Log Atualizacao</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let politicoAtributo of politicoAtributos ;trackBy: trackId">
                <td><a [routerLink]="['../politico-atributo-sp', politicoAtributo.id ]">{{politicoAtributo.id}}</a></td>
                <td>{{politicoAtributo.valor}}</td>
                <td>
                    <div *ngIf="politicoAtributo.politico">
                        <a [routerLink]="['../politico-sp', politicoAtributo.politico?.id ]" >{{politicoAtributo.politico?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="politicoAtributo.tipoAtributo">
                        <a [routerLink]="['../tipo-atributo-sp', politicoAtributo.tipoAtributo?.id ]" >{{politicoAtributo.tipoAtributo?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="politicoAtributo.logAtualizacao">
                        <a [routerLink]="['../log-atualizacao-sp', politicoAtributo.logAtualizacao?.id ]" >{{politicoAtributo.logAtualizacao?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../politico-atributo-sp', politicoAtributo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'politico-atributo-sp/'+ politicoAtributo.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'politico-atributo-sp/'+ politicoAtributo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
