
<div *ngIf="politicoAtributo">
    <h2><span>Politico Atributo</span> {{politicoAtributo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Valor</span></dt>
        <dd>
            <span>{{politicoAtributo.valor}}</span>
        </dd>
        <dt><span>Politico</span></dt>
        <dd>
            <div *ngIf="politicoAtributo.politico">
                <a [routerLink]="['/politico-sp', politicoAtributo.politico?.id]">{{politicoAtributo.politico?.id}}</a>
            </div>
        </dd>
        <dt><span>Tipo Atributo</span></dt>
        <dd>
            <div *ngIf="politicoAtributo.tipoAtributo">
                <a [routerLink]="['/tipo-atributo-sp', politicoAtributo.tipoAtributo?.id]">{{politicoAtributo.tipoAtributo?.id}}</a>
            </div>
        </dd>
        <dt><span>Log Atualizacao</span></dt>
        <dd>
            <div *ngIf="politicoAtributo.logAtualizacao">
                <a [routerLink]="['/log-atualizacao-sp', politicoAtributo.logAtualizacao?.id]">{{politicoAtributo.logAtualizacao?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'politico-atributo-sp/'+ politicoAtributo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
